{% extends 'kruk/base.html' %}
{% block content %}
<div clas="col-12">
    <p>Krukacz: {{ user_object.username }}</p>
</div>
<div class="col-12">
    <h2>Obserwowani</h2>
    <ul>
        {% for observered in user_object.observer.observed_krukacz.all %}
        <li>
        <p>
            Kto: {{ observered.username }}
        </p>
        </li>
        {% empty %}
        </li>Brak obserwowanych krukaczy</li>
        {% endfor%}
    </ul>
    <h2>Obserwujący</h2>
    <ul>
        {% for observered in user_object.observed_krukacz.all %}
        <li>
        <p>
            Kto: {{ observered.krukacz.username }}
        </p>
        </li>
        {% empty %}
        </li>Brak obserwujących krukaczy</li>
        {% endfor%}
    </ul>

</div>
{% if user.is_authenticated and user.pk != user_object.pk %}
<a href="{% url 'observe' user_object.pk %}">Dodaj do obserwowanych</a>
{% endif %}
{% endblock %}