<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kruknij{% endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row"/>
        <div class="col-6">
            {% if user.is_authenticated %}
            <p>Zalogowany jako: {{ user.username }}</p>
            <p><a href="{% url 'logout' %}">Wyloguj mi się</a></p>
            {% else %}
            <p>Jesteś niezalogany</p>
            <p><a href="{% url 'login' %}">Zaloguj się</a></p>
            <p><a href="{% url 'register' %}">Załóż konto</a></p>
            {% endif %}
        </div>
    </div>
{% block content %}
Kru Kru Kru
{% endblock %}
    </div>
</body>
</html>